{% extends 'DashCoreBundle::coreLayout.html.twig' %}
{% block body %}
    <div class="col-xs-12 white">
        <div class="col-xs-12 tampon"></div>
        <div class="col-xs-1Z"> {{ form(form) }}</div>
        <div class="col-xs-12 tampon"></div>
    </div>
{% endblock %}