{% extends 'DashCoreBundle::corelayout.html.twig' %}

{% block body %}

  {# S'il y a une erreur, on l'affiche dans un joli cadre #}
  {% if error %}
    <div class="alert alert-danger">{{ error.message }}</div>
  {% endif %}

  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
<form action="{{ path('login_check') }}" method="post">
    <div class='tampon'></div>
    <div class='tampon'></div>
    <div class='tampon'></div>
    <div class='tampon'></div>
    <div class="row center">
        <label for="username">Login :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password" />
    </div>
    <div class="tampon"></div>
    <div class='tampon'></div>
     <div class="row">
    <div class="col-xs-offset-8 col-xs-2 ">
         <input type="submit" value="Connexion" />
    </div> 
 </form>
</div>

{% endblock %}