{% extends 'DashCoreBundle::coreLayout.html.twig'%}
{% block body%}
    <div class="col-xs-12 tampon"></div>
    <div class="col-xs-12 white">
        {{ form(form) }}
    </div>
    
{% endblock %}

{% block menu %}
    <div class="col-xs-12 center">
        <a href="{{ path('dash_core_homepage') }}">
            <img class="logo" src=" {{ asset('bundles/dashcore/image/home.png')}} ">
        </a>
    </div>
{% endblock %}